CMakeCache.txt
CTestTestfile.cmake
Makefile
CMakeFiles
DartConfiguration.tcl
Testing/
*.cmake
.*.swp
*.a
.python-version
*.vcxproj
*.vcxproj.filters
.vs
*.sln
*.xcuserdatad
.DS_Store
xcshareddata
googletest-download
googletest-src
*.pc
*.test
Podfile.lock
Pods
*.xcworkspace
contrib/build
coverage.info
